:root {
  font-family: 'Courier New';
  font-size: 16px;
}

body {
    color: black;
    background-color: rgb(252, 251, 248);
    margin: 0;
    padding: 0;
  }

body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-track {
  background: rgb(141, 139, 133);
}

body::-webkit-scrollbar-thumb {
  background: rgb(93, 91, 88);
  border-radius: 4px;
}

.otsikko {
  font-size: 1.2em;
  left: 0.5em;
  margin: 0.2em;
}

 .navbar {
   display: flex; 
   background-color: rgb(141, 139, 133);
   align-items: center;
   justify-content: center;
   width: 100%;
   font-size: 1.2em;
 }
 .menu-links ul {
   display: flex; 
   flex-direction: row;
 }

 .menu-links li {
  height: 1em;
  border-radius: 15px;
  padding:0.2em;
  margin: 0.8em;
  font-size: 1.2em;
  transition: all 100ms ease;
 }

 .menu-links a {
  
  color:rgb(252, 251, 248);
  width: 2em;
  text-decoration: none;
  transition: all 200ms ease;
 }

 .menu-links li:hover {
   background-color:  rgb(181, 178, 170, 0.4);
   padding: 1em;
   margin: 0em;
 }

 h1 {
  text-align:center;
  font-size: 2em;
}

ul { 
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sisalto {
    margin-left: 25%;
    margin-right: 25%;
}

.toggle-button {
 border-radius: 10px;
 padding:0.4em;
 display: none;
 flex-direction: column;
 justify-content: space-between;
 width: 30px;
 height: 1em;
 transition: all 200ms ease;
}

.toggle-button:hover {
  background-color:  rgb(181, 178, 170, 0.4);
  padding: 0.4em;
}

.toggle-button .bar {
   height: 0.2em;
   width: 100%;
   background-color: black; 
   border-radius: 0.1em;
}

footer {
  display: flex; 
  background-color: rgb(141, 139, 133);
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
}
.footer-nav {

  width: 100%;
  display: flex;
  padding-top: .7em;
  padding-bottom: .7em;
}

.footer-nav li {
  margin-left: .9em;
}

.projects {
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.comment-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 1em;
  border-radius: .1em;
  border: 1px solid black;
  
}

.comment-box h2 {
  margin-top: 0;
  margin-bottom: .3em;
  text-align: center;
}


.comments {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  overflow-wrap: break-word;
  scrollbar-width: 2px;
  padding: 0;
  width: 100%;
  background-color: grey;
  aspect-ratio: 16/9;
  margin-bottom: .3em;
  resize: none;
}

.create-comment {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.create-comment textarea{
  resize: none;
}

.create-comment textarea , .create-comment input{
  margin-bottom: .3em;
  border: 1px solid black;
  font-size: 1em;
  background-color: transparent;

}
  
@media (max-width:600px) {

  .navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(141, 139, 133);
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2em;
  }

  .toggle-button{
    position: absolute;
    right: 0.1em;
    display: flex;
  }

  .menu-links ul {
    /* width: 100%; */
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .menu-links {
    width: 100%;
    display: none;
  }

  .menu-links.active {
    display: flex;
    justify-content: center;
  }

  .menu-links li {
    border-radius: 0.4em;
    margin: 0;
    padding: 0.2em;
    transition: all 200ms ease;
  }

  .menu-links ul li:hover {
    background-color:  rgb(181, 178, 170, 0.4);
    padding: 0.2em;
  }
}